<%= form_for @usuario do |f| %>
  <%= f.text_field :nome %>
  <%= f.text_field :email %>
  <%= f.text_field :identificador %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                usuarios_path, :class => 'btn' %>
  </div>
<% end %>
